<%= cl_image_tag @equipment.photo, height: 300, width: 400, crop: :fill %>

<h1><%= @equipment.name %></h1>

<ul>
  <li><%= @equipment.description %></li>
  <li><%= @equipment.price %></li>
</ul>


<%= render './bookings/form', equipment: [@equipment, @booking] unless @equipment.user_id == current_user.id %>

