<div class="grid">
      <div class="card main">
        <div class="card-content">
          <img src="<%= cl_image_path @equipment.photo, crop: :fill %>" alt="" width="250" >
          <!-- <p></p>
          <a href="#" class="btn btn-primary btn-lg">book</a> -->
        </div>
      </div>
      <div class="card about">
        <div class="card-content">
          <h3><%= @equipment.name %></h3>
          <p class="text-justify">
            <%= @equipment.description %>
          </p>
          <p><%= @equipment.price %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="equipment-banner" style="background-image: url('<%= cl_image_path @equipment.photo, crop: :fill %>')"></div>
        <h1><%= @equipment.name %></h1>
        <ul>
          <li><%= @equipment.description %></li>
          <li><%= @equipment.price %></li>
 -->
    <%= render './bookings/form', equipment: [@equipment, @booking] %>
