<div class="container">
    <h1 class="booking_details text-center"><%= @booking.equipment.name %> - Booking</h1>
  <div class="row">

    <div class="col-xs-12 col-md-6" id="firstcol">
      <img src="<%= cl_image_path @booking.equipment.photo, crop: :fill %>" alt="" width="400px" height="200" class="img-show" style="background-size: cover;">
      <br>
      <br>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x200&sensor=false&maptype=roadmap&markers=color:red|#{@booking.equipment.user.address}&key=#{ENV['GOOGLE_API_BROWSER_KEY']}&style=feature:administrative|element:labels.text.fill|color:0x444444&style=feature:landscape|element:all|color:0xf2f2f2&style=feature:landscape.man_made|element:geometry.fill|color:0xff0000|visibility:off&style=feature:landscape.natural.landcover|element:geometry.fill|color:0xff0000|visibility:off&style=feature:poi|element:all|visibility:off&style=feature:road|element:all|saturation:-100|lightness:45&style=feature:road.highway|element:all|visibility:simplified&style=feature:road.highway|element:geometry.fill|color:0xea9f1f|saturation:52|lightness:0&style=feature:road.arterial|element:labels.icon|visibility:off&style=feature:transit|element:all|visibility:off&style=feature:water|element:all|color:#469AE0|visibility:on&style=feature:water|element:geometry.fill|color:#469AE0", class: "static-map img-show" %>
      <br><br>
      <div class="link" style="margin-left: 9px;">
      <%= link_to "Cancel this booking", booking_path,
      method: :delete,
      data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
    </div>
    </div>
    <br>
    <br>
    <div class="col-xs-12 col-md-6" id="secondcol">
      <div class="details_content">
        <p><strong>Period: </strong><%= @booking.start_date.strftime("%d-%m-%Y") %> - <%= @booking.end_date.strftime("%d-%m-%Y") %></p>
        <p><strong>Price per day: </strong>€<%= @booking.equipment.price %></p>
        <p><strong>Total price is: </strong>€<%= @booking.equipment.price * (@booking.end_date.day - @booking.start_date.day) %></p>
        <br>
        <div>
          <%= render '/reviews/review_form', booking: [@booking, @review] %>
        </div>
      </div>
    </div>
  </div>
</div>
